.loader {
  position: relative;
  text-align: center;
  vertical-align: middle;

  width: 100%;
  height: auto;
  padding: 10% 0;
  margin: auto;

  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
}
.is-wrapped {
  display: inline;
  z-index: -1;
  background-image: linear-gradient(#ffc107, #ffc107);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-image 0.75s ease;

  transition-delay: 0s;
}
