// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Thin.ttf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Light.ttf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Bold.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("/assets/fonts/Roboto-Black.ttf") format("opentype");
  font-weight: 900;
}




html {
  // font-size: 62.5%;
  // line-height: 1.25;
  body {
    font-family: 'Roboto', "Open Sans", "Helvetica Neue", sans-serif;
  }
}

canvas {
  width: 100vw;
  height: 100vh;
  /* pointer-events: none; */
  display: block;
  overflow: hidden;
  padding: 0;
  /* position: fixed; */
  z-index: -10;
  margin: 0;
}

// p,
// span {
//   font-size: 1.4rem;
// }

a {
  font-weight: 600;
}
