.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  padding: 10px 0px 10px 0px;
  margin: 0px 10px 0px 10px;
  width: 10%;
  display: block;
}

.App-header strong{
  display: flex;
  font-family: sans-serif;
  font-size-adjust: inherit;
  position: relative;
  top: 25%;
  vertical-align: middle;
}

.App-header {
  background-color: #000;
  height: 10vh;
  width: 100%;
  max-height: 20vh;
  display: inline-flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2vm;
  /* padding-left: 10; */
}

.App-search input{
  height: 2vmax;
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 30;
  padding: 10 10 10 20;
  margin: 0 0 0 37.5%;
}

.MovieTile{
  width: 10em;
  height: 20em;
  border-width: 10px;
  border-color: blueviolet;
}
.MovieTile img {
  width: auto;
  height: 20em;
  margin: auto;
  padding: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
