.home-content {
  background: orange;

  width: 100%;
  height: 89.5vh;
}

.home-content-container {
  padding: 4rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  max-width: 1120px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #000;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 1rem;
  width: 100%;
  margin: 50px 0 45px;
  text-align: left;
  align-items: flex-start;
}

.sub-header {
  color: #fff;
}

.home-content-wrapper>h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
}

.home-content-wrapper>p {
  font-size: 1.25rem;
  font-weight: 100;
  text-align: left;
}

.highlight-wrapper {
  width: 50%;
}

.highlight-items {
  color: #000;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.highlight-items::before {
  content: "\27F6";
  margin-right: 00.5rem;
}


@media screen and (max-width: 768px) {
  .home-content {
    height: auto;
  }

  .home-content-container {
    flex-direction: column;
    padding: 0;
  }

  .home-content-wrapper {
    margin: 0;
    padding: 3rem;
  }

  .home-content-wrapper h2 {
    font-size: 2.25rem;
  }

  .highlight-wrapper {
    width: 100%;
    padding-left: 2rem;
  }

  br {
    display: none;
  }
}